# dependencies
/node_modules
/.pnp
.pnp.js

__pycache__

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

test

.rasa
.venv
venv

.tar.gz
.pyc